:root {
  --text-color:rgba(255, 255, 255, 0.87);
  --text-color-secondary:#a1a1aa;
  --border-radius:6px;
  --primary-color:#60a5fa;
  --primary-color-text:#030712;
  --surface-ground:#121212;
  --surface-section:#1e1e1e;
  --surface-card:#1e1e1e;
  --surface-overlay:#2a2a2a;
  --surface-border:#383838;
  --surface-hover:#2a2a2a;
  --surface-0: #121212;
  --surface-50: #1e1e1e;
  --surface-100: #2a2a2a;
  --surface-200: #363636;
  --surface-300: #424242;
  --surface-400: #4e4e4e;
  --surface-500: #5a5a5a;
  --surface-600: #757575;
  --surface-700: #9E9E9E;
  --surface-800: #BDBDBD;
  --surface-900: #E0E0E0;
  --blue-50:#183462;
  --blue-100:#204887;
  --blue-200:#295bac;
  --blue-300:#326fd1;
  --blue-400:#3b82f6;
  --blue-500:#609af8;
  --blue-600:#85b2f9;
  --blue-700:#abc9fb;
  --blue-800:#d0e1fd;
  --blue-900:#f5f9ff;
  --green-50:#0e4f26;
  --green-100:#136c34;
  --green-200:#188a42;
  --green-300:#1da750;
  --green-400:#22c55e;
  --green-500:#4cd07d;
  --green-600:#76db9b;
  --green-700:#a0e6ba;
  --green-800:#caf1d8;
  --green-900:#f4fcf7;
  --yellow-50:#5e4803;
  --yellow-100:#816204;
  --yellow-200:#a47d06;
  --yellow-300:#c79807;
  --yellow-400:#eab308;
  --yellow-500:#eec137;
  --yellow-600:#f2d066;
  --yellow-700:#f6de95;
  --yellow-800:#faedc4;
  --yellow-900:#fefbf3;
  --cyan-50:#024955;
  --cyan-100:#036475;
  --cyan-200:#047f94;
  --cyan-300:#059bb4;
  --cyan-400:#06b6d4;
  --cyan-500:#35c4dc;
  --cyan-600:#65d2e4;
  --cyan-700:#94e0ed;
  --cyan-800:#c3edf5;
  --cyan-900:#f3fbfd;
  --pink-50:#5e1d3d;
  --pink-100:#822854;
  --pink-200:#a5326b;
  --pink-300:#c93d82;
  --pink-400:#ec4899;
  --pink-500:#f06bac;
  --pink-600:#f38ec0;
  --pink-700:#f7b0d3;
  --pink-800:#fad3e7;
  --pink-900:#fef6fa;
  --indigo-50:#282960;
  --indigo-100:#363885;
  --indigo-200:#4547a9;
  --indigo-300:#5457cd;
  --indigo-400:#6366f1;
  --indigo-500:#8183f4;
  --indigo-600:#9ea0f6;
  --indigo-700:#bcbdf9;
  --indigo-800:#dadafc;
  --indigo-900:#f7f7fe;
  --teal-50:#084a42;
  --teal-100:#0b655b;
  --teal-200:#0e8174;
  --teal-300:#119c8d;
  --teal-400:#14b8a6;
  --teal-500:#41c5b7;
  --teal-600:#6dd3c8;
  --teal-700:#9ae0d9;
  --teal-800:#c7eeea;
  --teal-900:#f3fbfb;
  --orange-50:#642e09;
  --orange-100:#893f0c;
  --orange-200:#ae510f;
  --orange-300:#d46213;
  --orange-400:#f97316;
  --orange-500:#fa8e42;
  --orange-600:#fba86f;
  --orange-700:#fcc39b;
  --orange-800:#feddc7;
  --orange-900:#fff8f3;
  --bluegray-50:#282e38;
  --bluegray-100:#37404c;
  --bluegray-200:#465161;
  --bluegray-300:#556376;
  --bluegray-400:#64748b;
  --bluegray-500:#818ea1;
  --bluegray-600:#9fa9b7;
  --bluegray-700:#bcc3cd;
  --bluegray-800:#dadee3;
  --bluegray-900:#f7f8f9;
  --purple-50:#432263;
  --purple-100:#5c2f88;
  --purple-200:#763cad;
  --purple-300:#8f48d2;
  --purple-400:#a855f7;
  --purple-500:#b975f9;
  --purple-600:#c996fa;
  --purple-700:#dab6fc;
  --purple-800:#ead6fd;
  --purple-900:#fbf7ff;
  --red-50:#661814;
  --red-100:#8c221c;
  --red-200:#b32b23;
  --red-300:#d9342b;
  --red-400:#ff3d32;
  --red-500:#ff6259;
  --red-600:#ff8780;
  --red-700:#ffaca7;
  --red-800:#ffd0ce;
  --red-900:#fff5f5;
  --primary-50:#183462;
  --primary-100:#204887;
  --primary-200:#295bac;
  --primary-300:#326fd1;
  --primary-400:#3b82f6;
  --primary-500:#609af8;
  --primary-600:#85b2f9;
  --primary-700:#abc9fb;
  --primary-800:#d0e1fd;
  --primary-900:#f5f9ff;
  --gray-50: #212121;
  --gray-100: #424242;
  --gray-200: #616161;
  --gray-300: #757575;
  --gray-400: #9E9E9E;
  --gray-500: #BDBDBD;
  --gray-600: #E0E0E0;
  --gray-700: #EEEEEE;
  --gray-800: #F5F5F5;
  --gray-900: #FAFAFA;
  color-scheme: dark;
}
