<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="XMLConfigLC" monitorInterval="30">

  <Properties>
      <Property name="basePath">C:/log</Property>
      <Property name="logfileName">${basePath}/golflc.log</Property>
      <Property name="jsonlogfileName">${basePath}/golflc.json</Property>
  </Properties>

  <Appenders>
    <!-- Fichier texte lisible (pattern classique) -->
    <File name="LogFile"
          fileName="${logfileName}"
          append="false"
          bufferedIO="true"
          bufferSize="8192"
          immediateFlush="true">
        <PatternLayout
            charset="UTF-8"
            header="This is the log4j2 logging file of GolfLC\n\n"
            pattern="%sequenceNumber %date{ISO8601} %-6relative  %level{length=6} %class{5} . %method %line %X: %message %n"/>
    </File>
    <!-- Fichier JSON structuré -->
    <File name="JsonFile"
          fileName="${jsonlogfileName}"
          append="true"
          bufferedIO="true"
          bufferSize="8192"
          immediateFlush="true">
        <JsonLayout complete="false" compact="true" eventEol="true" stacktraceAsString="true">
            <KeyValuePair key="app" value="GolfLC"/>
        </JsonLayout>
    </File>
    <!-- Console lisible -->
    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout
            charset="UTF-8"
            pattern="%d{ISO8601} %-4r %level{length=5} %C %M %F - %m%n"/>
    </Console>

  </Appenders>

  <Loggers>
      <Logger name="org.apache.logging.log4j.xml"
              level="debug"
              additivity="false">
          <AppenderRef ref="LogFile"/>
          <!-- <AppenderRef ref="JsonFile"/> -->
          <AppenderRef ref="STDOUT"/>
      </Logger>

      <Root level="debug">
          <AppenderRef ref="LogFile"/>
          <!-- <AppenderRef ref="JsonFile"/> -->
          <AppenderRef ref="STDOUT"/>
      </Root>
  </Loggers>

</Configuration>
